{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten mt-3 bg">
    <div class="container">
      <h1 class="text-center h2 mb-4">Admin Dashboard</h1>
       <div class="row">
        
        {% include 'includes/admindashboardsidebar.html' %}
       <main class="col-md-9">
<!-- ========================= CHART CONTENT ========================= -->
      <div class="row">
        <div class="w-50">
          <canvas id="myChart" width="300" height="300"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          const ctx = document.getElementById('myChart');

          new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ['order', 'product', 'user', 'category'],
              datasets: [{
                label: 'Total',
                data: ['{{order_count}}', '{{product_count}}', '{{user_count}}', '{{category_count}}'],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>

<!-- ========================= CHART CONTENT 2 ========================= -->

        <div class="w-50">
          <canvas id="myPipeChart" width="300" height="300"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          const pipechart = document.getElementById('myPipeChart');

          new Chart(pipechart, {
            type: 'bar',
            data: {
              labels: ['order', 'product', 'user', 'category'],
              datasets: [{
                label: 'Total Orders',
                data: ['{{order_count}}', '{{product_count}}', '{{user_count}}', '{{category_count}}'],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        </script>


      </div>

<!-- ========================= CHART CONTENT END ========================= -->


          <div class="row">
            <div class="col-sm-6 text-center mb-2 ">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Total Users </h5>
                  <p class="card-title h4 mb-3">{{ user_count }}</p>
                  <a href="{% url 'manage_user' %}" class="btn btn-outline-dark">View Users</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 text-center mb-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Total Products</h5>
                  <p class="card-title h4 mb-3">{{ product_count }}</p>
                  <a href="{% url 'manage_product' %}" class="btn btn-outline-dark">View Products</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 text-center mb-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Product Category</h5>
                  <p class="card-title h4 mb-3">{{ category_count }}</p>
                  <a href="{% url 'manage_category' %}" class="btn btn-outline-dark">View Categories</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 text-center mb-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Total Orders</h5>
                  <p class="card-title h4 mb-3">{{ order_count }}</p>
                  <a href="{% url 'manage_order' %}" class="btn btn-outline-dark">View Orders</a>
                </div>
              </div>
            </div>  
            {% comment %} <div class="col text-center mb-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Total Sales</h5>
                  <p class="card-title h4 mb-3">₹ {{ total_sales }}</p>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
  
          <!-- order-group.// -->
        </main>
      </div>
      <!-- row.// -->
    </div> 
  </section>
 
  <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}