{% extends 'base.html' %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content mt-3 bg">
  <div class="container">
    <h1 class="text-center h2 mb-4">Manage Products</h1>
    <div class="d-flex mb-3 justify-content-end">
      <form action="{% url 'manage_product' %}" class="search" method="POST">
        {% csrf_token %} 
        <div class="input-group w-100">
          <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword" />

          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      {% include 'includes/admindashboardsidebar.html' %}
      <main class="col-md-8">
        <div class="d-flex justify-content-end">
          <a href="{% url 'add_product' %}" class="btn btn-info mr-md-4">Add Products <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </div>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Available</th>
              
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="row">{{ product.id }}</th>
              <td><a href="{% url 'edit_product' product.id %}">{{ product.product_name }}</a></td>
              <td>{{ product.category }}</td>
              <td>₹{{ product.price }}</td>
              <td>{{ product.stock }}</td>
              <td>
                {% if product.is_available %}
                {% comment %} <i class="fas fa-check-circle-fill" style="color: #28a745"></i> {% endcomment %}
                <i class="fas fa-check-circle success"></i>
                {% else %}
                <i class="fas fa-times-circle" style="color: #c21010"></i>
                {% endif %}
              </td>
              <td></td>
              <td></td>
              <td><a href="{% url 'delete_product' product.id %}" class="btn btn-sm btn-danger">Delete <i class="fa fa-trash" aria-hidden="true"></i></a></td>
              <td><a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-secondary">Edit <i class="fa fa-wrench" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- order-group.// -->
        <div class="container">
          <nav class="mt-4" aria-label="Page navigation sample">
            {% if products.has_other_pages %}
            <ul class="pagination">
              {% if products.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %} {% for page_number in products.paginator.page_range %} {% if products.number == page_number %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
              {% endif %} {% endfor %} {% if products.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
        </div>
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}