{% extends 'base.html' %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten mt-3 bg">
  <div class="container">
     <h1 class="text-center h2 mb-4">Manage Users</h1>
    <div class="d-flex mb-3 justify-content-end">
      <form action="{% url 'manage_user' %}" class="search" method="POST">
        {% csrf_token %} 
        <div class="input-group w-100">
          <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword" />

          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      {% include 'includes/admindashboardsidebar.html' %}
      <main class="col-md-9">
        <table class="table table-borderless">
          <thead>
            <tr class="mb-4">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email Address</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Active</th>
              {% comment %} <th scope="col">Verified</th> {% endcomment %}
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.first_name | capfirst}}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone_number }}</td>
              <td>
                {% if user.is_active %}
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                {% endif %}
              </td>
              {% comment %} <td>
                {% if user.is_verified %}
                <i class="fa fa-times-circle-o" aria-hidden="true" style="color: #28a745"></i>
                {% else %}
                <i class="fas fa-times-circle" style="color: #c21010"></i>
                {% endif %}
              </td> {% endcomment %}
              <td>
                {% if user.is_active %}
                <a href="{% url 'ban_user' user.id %}" class="btn btn-danger btn-sm">Block <i class="fa fa-ban" aria-hidden="true"></i></a>
                {% else %}
                <a href="{% url 'unban_user' user.id %}" class="btn btn-success btn-sm">Unblock <i class="fa fa-unlock" aria-hidden="true"></i></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- order-group.// -->
        <div class="container">
          <nav class="mt-4" aria-label="Page navigation sample">
            {% if users.has_other_pages %}
            <ul class="pagination">
              {% if users.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %} {% for page_number in users.paginator.page_range %} {% if users.number == page_number %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
              {% endif %} {% endfor %} {% if users.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
          </nav>
        </div>
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}