<ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
      Subtotal
      <span>₹{{total}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
      tax
      <span>₹{{tax}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
    Discount
    <span>₹{{coupon_discount}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase">
      Total to pay
      <input type="hidden" class="grand_total" grand-total="{{grand_total}}">
      <span>₹{{grand_total}}</span>
    </li>

</ul>